
<h1>MinuCubez</h1>
<div ng-controller="rankingCtrl">

{{people}}
{{people[0]}}

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>time</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="person in people">
      <td>{{person.name}}</td>
      <td>{{person.lastTime}}</td>
    </tr>
  </tbody>
</table>
</div>
